In [1]:
import pandas as pd
import numpy as np
from pycaret.regression import setup, compare_models, blend_models,tune_model,predict_model,get_config, finalize_model

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.rcParams['font.family'] = 'Gulim'

from workalendar.asia import SouthKorea
import pendulum

RuntimeError: module compiled against API version 0xe but this version of numpy is 0xd

In [2]:
train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')

In [3]:
test

,일자,요일,본사정원수,본사휴가자수,본사출장자수,본사시간외근무명령서승인건수,현본사소속재택근무자수,조식메뉴,중식메뉴,석식메뉴
0,2021-01-27,수,2983,88,182,5,358.0,모닝롤/연유버터베이글 우유/주스 계란후라이/찐계란 단호박죽/흑미밥 우거지국 고기완자...,쌀밥/흑미밥/찰현미밥 대구지리 매운돈갈비찜 오꼬노미계란말이 상추무침 포기김치 양상추...,흑미밥 얼큰순두부찌개 쇠고기우엉볶음 버섯햄볶음 (New)아삭이고추무절임 포기김치
1,2021-01-28,목,2983,104,212,409,348.0,모닝롤/대만샌드위치 우유/주스 계란후라이/찐계란 누룽지탕/흑미밥 황태국 시래기지짐 ...,쌀밥/보리밥/찰현미밥 우렁된장찌개 오리주물럭 청양부추전 수제삼색무쌈 겉절이김치 양상...,충무김밥 우동국물 오징어무침 꽃맛살샐러드 얼갈이쌈장무침 석박지
2,2021-01-29,금,2983,270,249,0,294.0,모닝롤/핫케익 우유/주스 계란후라이/찐계란 오곡죽/흑미밥 매생이굴국 고구마순볶음 양...,쌀밥/흑미밥/찰현미밥 팽이장국 수제돈까스*소스 가자미조림 동초나물무침 포기김치 양상...,흑미밥 물만둣국 카레찜닭 숯불양념꼬지어묵 꼬시래기무침 포기김치
3,2021-02-01,월,2924,108,154,538,322.0,모닝롤/촉촉한치즈케익 우유/주스 계란후라이/찐계란 누룽지탕/흑미밥 두부김칫국 새우완...,쌀밥/흑미밥/찰현미밥 배추들깨국 오리대패불고기 시금치프리타타 부추고추장무침 포기김치...,흑미밥 동태탕 돈육꽈리고추장조림 당면채소무침 모자반무침 포기김치
4,2021-02-02,화,2924,62,186,455,314.0,모닝롤/토마토샌드 우유/주스 계란후라이/찐계란 채소죽/흑미밥 호박맑은국 오이생채 양...,쌀밥/팥밥/찰현미밥 부대찌개 닭살데리야끼조림 버섯탕수 세발나물무침 알타리김치/사과푸...,흑미밥 바지락살국 쇠고기청경채볶음 두부구이*볶은김치 머위된장무침 백김치
5,2021-02-03,수,2924,59,199,5,286.0,모닝롤/게살모닝샌드 우유/주스 계란후라이/찐계란 소고기죽/흑미밥 시래기된장국 베이컨...,쌀밥/흑미밥/찰현미밥 아욱국 매콤해물볶음 감자조림 미나리나물 포기김치 콥샐러드*렌치D,오므라이스 가쓰오장국 빌소세지구이*구운채소 단감치커리무침 양념고추지 겉절이김치
6,2021-02-04,목,2924,61,211,476,288.0,모닝롤/사과파이 우유/주스 계란후라이/찐계란 누룽지탕/흑미밥 아욱국 새송이버섯곤약장...,쌀밥/차조밥/찰현미밥 설렁탕 고등어김치말이찜 볼어묵굴소스볶음 브로콜리숙회*초장 석박...,흑미밥 계란파국 돈육두루치기 감자채파프리카볶음 세발나물오리엔탈무침 포기김치
7,2021-02-05,금,2924,169,252,0,256.0,모닝롤/앙버터모닝빵 우유/주스 계란후라이/찐계란 고구마죽/흑미밥 옹심이국 머위나물무...,쌀밥/흑미밥/찰현미밥 북엇국 닭볶음탕 채소전*장 솎음열무나물무침 포기김치 양상추샐러...,유부초밥/추가밥 온메밀소바 국물떡볶이 순대찜*소금 청경채겉절이 포기김치
8,2021-02-08,월,2924,88,174,690,329.0,모닝롤/스콘 우유/주스 계란후라이/찐계란 누룽지탕/흑미밥 꽃게탕 근대나물무침 연두부...,쌀밥/흑미밥/찰현미밥 감자양파국 돈수육*씨앗쌈장 매콤어묵볶음 콩나물파채무침 포기김치...,흑미밥 냉이국 반반치킨 꼬막채소무침 청경채찜 포기김치
9,2021-02-09,화,2924,94,183,542,329.0,모닝롤/치즈팡샌드 우유/주스 계란후라이/찐계란 팥죽/흑미밥 맑은버섯국 시금치나물무침...,쌀밥/기장밥/찰현미밥 장각백숙 적어양념장구이 채소스틱*쌈장 도라지오이초무침 겉절이김...,흑미밥 미역국 매운소불고기 단호박두부탕수 메추리알장조림 석박지
10,2021-02-10,수,2924,489,134,0,233.0,모닝롤/길거리토스트 우유/주스 계란후라이/찐계란 옥수수스프/흑미밥 우거지국 스팸구이...,유니짜장밥 짬뽕국 수제찹쌀꿔바로우 계란후라이 단무지락교무침 포기김치 그린샐러드*딸기...,흑미밥 참치김치찌개 오징어굴소스볶음 차돌비빔국수 건새우무나물 포기김치
11,2021-02-15,월,2924,178,131,795,355.0,모닝롤/파운드케익 우유/주스 계란후라이/찐계란 누룽지탕/흑미밥 열무된장국 분홍소세지...,쌀밥/흑미밥/찰현미밥 떡국 소갈비찜 한식잡채 참나물겉절이 포기김치 양상추샐러드*블루...,흑미밥 순두부백탕 수제치킨까스 쫄면채소무침 얼갈이나물 포기김치
12,2021-02-16,화,2924,70,175,815,413.0,모닝롤/모닝샌드 우유/주스 계란후라이/찐계란 흑임자죽/흑미밥 대구매운탕 가지나물 양...,쌀밥/수수밥/찰현미밥 육개장 닭살겨자냉채 오이스틱*쌈장 탕평채 깍두기/수박 양상추샐...,흑미밥 손수제비국 쇠고기낙지볶음 카레홍합찜 쑥갓나물 포기김치
13,2021-02-17,수,2924,77,181,3,379.0,모닝롤/트위스터버거 우유/주스 계란후라이/찐계란 단호박크림스프/흑미밥 사골파국 양념...,쌀밥/흑미밥/찰현미밥 미니쌀국수 삼겹살고추장구이 스프링롤*타르타르D 동초나물무침 알...,곤드레밥 황태국 찰떡떡갈비조림 계란후라이 재래김*달래양념장 무생채
14,2021-02-18,목,2924,83,247,594,338.0,모닝롤/허니브레드 우유/주스 계란후라이/찐계란 누룽지탕/흑미밥 봄동된장국 참치채소볶...,쌀밥/완두콩밥/찰현미밥 김치어묵탕 수원왕갈비통닭 두부양념조림 연근깨소스무침 포기김치...,흑미밥 바지락된장찌개 제육볶음 양배추숙*쌈장 노가리고추조림 겉절이김치
15,2021-02-19,금,2924,176,268,1,280.0,모닝롤/크로와상샌드위치 우유/주스 계란후라이/찐계란 쇠고기죽/흑미밥 닭살해장국 해물...,쌀밥/흑미밥/찰현미밥 유부장국 해물누룽지탕 김치전 마약계란장조림 포기김치 양상추샐러...,흑미밥 버섯들깨탕 아귀콩나물찜 콤비네이션피자 돌나물&된장소스 포기김치
16,2021-02-22,월,2924,105,197,814,247.0,모닝롤/흑미쌀찐빵 우유/주스 계란후라이 누룽지탕/흑미밥 미역국 매콤부들어묵볶음 양상...,쌀밥/흑미밥/찰현미밥 호박고추장찌개 안동찜닭 마카로니치즈범벅 세발나물무침 포기김치/...,흑미밥 동태알탕 깐풍육 고사리볶음 오이무침 포기김치
17,2021-02-23,화,2924,75,200,783,233.0,모닝롤/프렌치토스트 우유/주스 계란후라이 녹두죽/흑미밥 북어해장국 부추김무침 양상추...,쌀밥/보리밥/찰현미밥 근대국 등갈비김치찜 감자채전*장 치커리무침 깍두기 파스타샐러드,흑미밥 쇠고기무국 춘전닭갈비 뉴욕핫도그 유채나물된장무침 포기김치
18,2021-02-24,수,2924,77,235,3,234.0,모닝롤/파게트 우유/주스 계란후라이 감자스프/흑미밥 시금치된장국 우엉조림 양상추샐러...,쌀밥/흑미밥/찰현미밥 해물탕 쇠고기숙주볶음 맛살계란말이 물미역초고추장무침 포기김치 ...,애플카레라이스 팽이장국 가지탕수 소떡소떡 오복지무침 포기김치
19,2021-02-25,목,2924,91,252,585,235.0,모닝롤/야채모닝샌드 우유/주스 계란후라이 누룽지탕/흑미밥 맑은버섯국 수제동그랑땡전*...,쌀밥/흑미밥/찰현미밥 나주곰탕 생선까스*타르타르D 더덕양념구이 방풍나물무침 석박지 ...,흑미밥 계란파국 쭈꾸미불고기 모둠채소전*장 씨앗콩자반 포기김치
20,2021-02-26,금,2924,261,279,1,179.0,모닝롤/베이컨맥모닝 우유/주스 계란후라이 게살죽/흑미밥 매생이굴국 두부양념구이 양상...,"쌀밥/오곡밥/찰현미밥 옹심이국 목살스테이크 베이비크랩강정 이색나물(호박고지,건취나물...",흑미밥 스팸김치찌개 삼치구이*와사비장 브로콜리깨소스무침 연근조림 포기김치
21,2021-03-02,화,2975,139,166,781,248.0,모닝롤/호떡 우유/주스 계란후라이 누룽지탕/흑미밥 애호박새우젓국 재래김*양념장 양상...,쌀밥/흑미밥/찰현미밥 아욱국 치즈불닭 베이컨감자볶음 매운콩나물무침 포기김치 양배추샐...,흑미밥 냉이김칫국 해물우동볶음 날치알계란찜 솎음열무나물 포기김치
22,2021-03-03,수,2975,50,195,1,292.0,모닝롤/크림치즈와플 우유/주스 계란후라이 고구마죽/흑미밥 사골우거지국 비엔나소세지볶...,쌀밥/흑미밥/찰현미밥 황태미역국 동파육 느타리버섯볶음 참나물상추겉절이 포기김치/망고...,흑미밥 (New)수제오떡탕 매운족발볶음 크래미오이보트샐러드 청경채나물 겉절이김치
23,2021-03-04,목,2975,72,236,746,263.0,모닝롤/BLT샌드 우유/주스 계란후라이 누룽지탕/흑미밥 아귀매운탕 동초나물무침 양상...,쌀밥/옥수수밥/찰현미밥 매운쇠고기샤브샤브국 갈치조림 수수부꾸미 쑥갓두부무침 알타리김...,흑미밥 짬뽕국 쇠고기탕수 고추잡채*꽃빵 해초배무침 포기김치
24,2021-03-05,금,2975,158,257,2,226.0,모닝롤/모닝사라다빵 우유/주스 계란후라이 낙지죽/흑미밥 감자국 멸치마늘종볶음 양상추...,쌀밥/흑미밥/찰현미밥 쑥국 닭다리튀김 골뱅이채소무침 미나리나물 포기김치 양상추샐러드...,샐러드김밥 미소시루 라볶이 상추튀김(모둠튀김*양념장) 단무지채무침 포기김치
25,2021-03-08,월,2975,97,170,939,264.0,모닝롤/프레즐 우유/주스 계란후라이 누룽지탕/흑미밥 맑은버섯국 스팸구이 양상추샐러드...,쌀밥/흑미밥/찰현미밥 얼갈이된장국 오리불고기 (New)순대탕수 깻잎무쌈 포기김치 양...,흑미밥 달래된장찌개 코코뱅 고구마치즈구이 치커리무침 포기김치
26,2021-03-09,화,2975,76,170,1003,282.0,모닝롤/계란빵 우유/주스 계란후라이 채소죽/흑미밥 동태매운탕 모둠사태조림 양상추샐러...,쌀밥/차조밥/찰현미밥 갈비탕 순살닭강정 매생이전 도라지오이생채 깍두기 양상추샐러드*...,흑미밥 맑은콩나물국 돈육김치볶음 수제두부동그랑땡 유채나물무침 포기김치
27,2021-03-10,수,2975,71,185,1,271.0,모닝롤/모닝샌드 우유/주스 계란후라이 팥죽/흑미밥 북엇국 방풍나물 양상추샐러드/사과...,봄나물비빔밥 냉이된장국 수제고기육전 도토리묵*양념장 쥬시쿨 포기김치 콥샐러드*렌치D,흑미밥 순두부백탕 낙지볶음 쇠고기들깨소스무침 쪽파무침 포기김치
28,2021-03-11,목,2975,93,223,609,261.0,모닝롤/(New)당근크림치즈베이글 우유/주스 계란후라이 누룽지탕/흑미밥 조랭이떡국 ...,쌀밥/귀리밥/찰현미밥 콩가루배추국 타워함박스테이크 문어꽈리고추조림 시금치고추장나물무...,꽁보리밥*볶음고추장 닭칼국수 왕만두찜*양념장 버섯맛살볶음 양파장아찌 얼갈이열무겉절이
29,2021-03-12,금,2975,241,240,0,251.0,모닝롤/토마토샌드 우유/주스 계란후라이 참치죽/흑미밥 꽃게탕 섭산적채소조림 양상추샐...,쌀밥/흑미밥/찰현미밥 어묵매운탕 목살구이 쌈채소*쌈장 부추무침 겉절이김치 양상추샐러...,흑미밥 뼈해장국 가자미유린기 매운감자조림 배추흑임자무침 포기김치
30,2021-03-15,월,2975,126,148,864,314.0,모닝롤/고구마파이 우유/주스 계란후라이 누룽지탕/흑미밥 미역국 새우완자전*케찹 연두...,쌀밥/흑미밥/찰현미밥 근대된장국 묵은지닭찜 비엔나브로콜리볶음 유부채소겨자냉채 깍두기...,해물짜장면 계란파국 사천탕수육 세발나물무침 짜사이볶음 포기김치
31,2021-03-16,화,2975,74,176,658,401.0,모닝롤/미니햄버거 우유/주스 계란후라이 오곡죽/흑미밥 대구지리 생깻잎지 양상추샐러드...,쌀밥/수수밥/찰현미밥 대파육개장 고등어구이*와사비장 어묵잡채 건다래순볶음 포기김치 ...,흑미밥 사골파국*소면사리 매콤돈육메추리알장조림 명엽채볶음 참나물초장무침 포기김치
32,2021-03-17,수,2975,90,192,4,371.0,모닝롤/치즈볼 우유/주스 계란후라이 양송이스프/흑미밥 매운감자양파국 자반무침 양상추...,쌀밥/흑미밥/찰현미밥 물만둣국 제육미나리볶음 두부까스*소스 아삭이고추된장무침 겉절이...,"흑미밥 김칫국 닭살채소굴소스볶음 애호박나물 알배기,케일숙쌈*쌈장 포기김치"
33,2021-03-18,목,2975,106,231,520,351.0,모닝롤/(New)밤크림빵 우유/주스 계란후라이 누룽지탕/흑미밥 콩나물오징어국 고사리...,쌀밥/기장밥/찰현미밥 열무된장국 장각허브오븐구이*청양마요소스 수제오미산적 머위나물 ...,쇠고기규동덮밥 가쓰오장국 (New)피자핫도그 연근땅콩조림 청경채겉절이 포기김치
34,2021-03-19,금,2975,253,255,0,266.0,모닝롤/인기가요샌드 우유/주스 계란후라이 흑임자죽/흑미밥 건새우아욱국 베이컨숙주볶음...,쌀밥/흑미밥/찰현미밥 버섯매운탕 돈갈비찜 (New)단호박계란찜 오이생채 포기김치 그...,흑미밥 부대찌개 삼치엿장구이 부추전 치커리사과무침 무생채
35,2021-03-22,월,2975,133,166,707,350.0,모닝롤/치즈케익 우유/주스 계란후라이 누룽지탕/흑미밥 시금치된장국 캔꽁치무조림 양상...,쌀밥/흑미밥/찰현미밥 황태국 콩나물불고기 쇠고기납작당면볶음 삼색유자청무침 포기김치 ...,흑미밥 순두부찌개 닭간장조림 매콤어묵볶음 미나리숙주나물 포기김치
36,2021-03-23,화,2975,82,205,688,349.0,모닝롤/카야잼샌드 우유/주스 계란후라이 게살죽/흑미밥 들깨무채국 명엽채고추장볶음 양...,쌀밥/검정콩밥/찰현미밥 순남시래기국 장어강정*데리야끼소스 깻잎쌈*생강채 유채나물된장...,베이컨김치볶음밥 우동국물 알리오올리오 계란후라이 수제오이피클 포기김치
37,2021-03-24,수,2975,87,234,0,314.0,모닝롤/크로와상샌드 우유/주스 계란후라이 흑미두부죽/흑미밥 냉이된장국 쇠고기꽈리고추...,쌀밥/흑미밥/찰현미밥 미역국 바베큐폭립 건새우호박채전 비름나물 포기김치 양상추샐러드...,"흑미밥 맑은버섯국 오삼불고기 양상추, 쇠미역쌈*강된장 고들빼기무침 포기김치"
38,2021-03-25,목,2975,118,260,441,297.0,모닝롤/치아바타샌드 우유/주스 계란후라이 누룽지탕/흑미밥 쇠고기해장국 감자채볶음 양...,쌀밥/차조밥/찰현미밥 아욱국 짜파치킨 쫄면채소무침 취나물무침 포기김치 양배추샐러드*...,흑미밥 짬뽕수제비 생선까스*타르타르D 더덕무침 쑥갓무침 포기김치
39,2021-03-26,금,2975,311,266,0,229.0,모닝롤/베이컨에그슬럿 우유/주스 계란후라이 단호박죽/흑미밥 아귀매운탕 땅콩조림 양상...,쌀밥/흑미밥/찰현미밥 돈육김치찌개 소불고기 가지나물 풋마늘대무침 깍두기 양상추샐러드...,흑미밥/미니팥칼국수 차돌된장찌개 적어양념구이 미트볼채소볶음 오복지무침 포기김치
40,2021-03-29,월,2975,121,178,660,318.0,모닝롤/깨찰빵 우유/주스 계란후라이 누룽지탕/흑미밥 우거지국 마늘종호두조림 양상추샐...,쌀밥/흑미밥/찰현미밥 동태매운탕 차돌박이구이&청경채찜 메추리알떡볶이 세발나물무침 포...,셀프충무김밥 미소시루 오징어어묵무침 콩나물간장볶음 꽃맛살샐러드 포기김치
41,2021-03-30,화,2975,83,198,625,313.0,모닝롤/대만샌드위치 우유/주스 계란후라이 채소새우죽/흑미밥 옹심이국 멸치고추장볶음 ...,쌀밥/완두콩밥/찰현미밥 유부장국 돈수육 브로콜리땅콩소스무침 모듬채소*쌈장 수제보쌈김...,오므라이스/추가밥 애호박새우젓국 빌소세지구이*구운채소 도토리묵채소무침 수제연근유자피...
42,2021-03-31,수,2975,86,217,0,317.0,모닝롤/모닝샌드 우유/주스 계란후라이 크루통크림스프/흑미밥 꽃게탕 건파래볶음 양상추...,쌀밥/흑미밥/찰현미밥 콩가루배추국 허니순살치킨 버섯초장무침 방풍나물 포기김치 양상추...,흑미밥 쇠고기무국 마파두부소스 납작군만두*장 참나물생채무침 포기김치
43,2021-04-01,목,2973,88,256,394,303.0,모닝롤/단호박피자빵 우유/주스 계란후라이 누룽지탕/흑미밥 북어해장국 달래오이무침 양...,쌀밥/보리밥/찰현미밥 순대국밥*다대기 해물동그랑땡채소볶음 통들깨부추무침 채소스틱 석...,흑미밥 미니우동 치킨까스김치나베 미나리전 양념고추지 열무김치
44,2021-04-02,금,2973,275,272,0,224.0,모닝롤/야채샌드위치 우유/주스 계란후라이 바지락죽/흑미밥 김칫국 비엔나구이*케찹 양...,쌀밥/흑미밥/찰현미밥 닭개장 돈육춘장볶음 김말이강정 꼬시래기무침 포기김치 양상추샐러...,흑미밥 근대국 코다리무조림 오꼬노미계란말이 상추무침 포기김치
45,2021-04-05,월,2973,125,174,704,331.0,모닝롤/커피콩빵 우유/주스 계란후라이 누룽지탕/흑미밥 청양콩나물국 스팸구이 양상추샐...,쌀밥/흑미밥/찰현미밥 쇠고기미역국 춘천닭갈비 오지치즈후라이 가지두반장볶음 포기김치 ...,흑미밥 돈육고추장찌개 갈치구이 김치전 취나물무침 깍두기
46,2021-04-06,화,2973,76,170,636,364.0,모닝롤/모닝샌드 우유/주스 계란후라이 고구마스프/흑미밥 아욱국 참치채소볶음 양상추샐...,쌀밥/귀리밥/찰현미밥 순두부백탕 매콤소갈비찜 깻잎완자전 돌나물초장무침 포기김치 시리...,추가밥 짬뽕*생면 수제찹쌀꿔바로우 메추리알곤약장조림 단무지무침 포기김치
47,2021-04-07,수,2973,96,214,1,334.0,모닝롤/호떡맥모닝 우유/주스 계란후라이 팥죽/흑미밥 닭살해장국 우엉채조림 양상추샐러...,쌀밥/흑미밥/찰현미밥 냉이국 돈육간장불고기 비빔냉면 오이나물볶음 겉절이김치 양상추샐...,단호박카레라이스 시금치된장국 소떡소떡 파프리카해초무침 감귤쥬스 포기김치
48,2021-04-08,목,2973,105,238,509,324.0,모닝롤/크로크무슈 우유/주스 계란후라이 누룽지탕/흑미밥 감자국 두부양념조림 양상추샐...,쌀밥/옥수수밥/찰현미밥 맑은떡국 (New)로제찜닭 가자미구이*장 유채나물무침 포기김...,흑미밥 어묵매운탕 쇠고기숙주볶음 채소계란찜 쑥갓생무침 김치볶음
49,2021-04-09,금,2973,259,268,0,229.0,모닝롤/토마토샌드 우유/주스 계란후라이 채소죽/흑미밥 대구지리 애호박나물볶음 양상추...,쌀밥/흑미밥/찰현미밥 사골우거지국 해물누룽지탕 청포묵*양념간장 비름나물고추장무침 석...,흑미밥 맑은버섯국 매운사태조림 춘권*타르타르D 열무나물무침 포기김치

## 전처리
- 일자에서 월과 일을 분리
- 요일을 레이블 인코딩화(EDA로 요일의 중요도 순 파악)
- 월 별, 일 별 중식 석식 수요 차이 파악

In [4]:
train['월'] = pd.DatetimeIndex(train['일자']).month
test['월'] = pd.DatetimeIndex(test['일자']).month
train['주'] = pd.DatetimeIndex(train['일자']).week
test['주'] = pd.DatetimeIndex(test['일자']).week
train['일'] = pd.DatetimeIndex(train['일자']).day
test['일'] = pd.DatetimeIndex(test['일자']).day

train['출근'] = train['본사정원수']-(train['본사휴가자수']+train['본사출장자수']+train['현본사소속재택근무자수'])
train['휴가비율'] = train['본사휴가자수']/train['본사정원수']
train['출장비율'] = train['본사출장자수']/train['본사정원수']
train['야근비율'] = train['본사시간외근무명령서승인건수']/train['출근']
train['재택비율'] = train['현본사소속재택근무자수']/train['본사정원수']

test['출근'] = test['본사정원수']-(test['본사휴가자수']+test['본사출장자수']+test['현본사소속재택근무자수'])
test['휴가비율'] = test['본사휴가자수']/test['본사정원수']
test['출장비율'] = test['본사출장자수']/test['본사정원수']
test['야근비율'] = test['본사시간외근무명령서승인건수']/test['출근']
test['재택비율'] = test['현본사소속재택근무자수']/test['본사정원수']

train['day2']=0
train.loc[train['일']>9, 'day2'] = 1
train.loc[train['일']>19, 'day2'] = 2

test['day2']=0
test.loc[test['일']>9, 'day2'] = 1
test.loc[test['일']>19, 'day2'] = 2

In [5]:
weekday = {
    '월': 1,
    '화': 2,
    '수': 3,
    '목': 4,
    '금': 5
}

train['요일'] = train['요일'].map(weekday)
test['요일'] = test['요일'].map(weekday)

In [6]:
train.head()

,일자,요일,본사정원수,본사휴가자수,본사출장자수,본사시간외근무명령서승인건수,현본사소속재택근무자수,조식메뉴,중식메뉴,석식메뉴,중식계,석식계,월,주,일,출근,휴가비율,출장비율,야근비율,재택비율,day2
0,2016-02-01,1,2601,50,150,238,0.0,모닝롤/찐빵 우유/두유/주스 계란후라이 호두죽/쌀밥 (쌀:국내산) 된장찌개 쥐...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 오징어찌개 쇠불고기 (쇠고기:호주산) 계란찜 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 육개장 자반고등어구이 두부조림 건파래무침 ...",1039.0,331.0,2,5,1,2401.0,0.019223,0.057670,0.099125,0.0,0
1,2016-02-02,2,2601,50,173,319,0.0,모닝롤/단호박샌드 우유/두유/주스 계란후라이 팥죽/쌀밥 (쌀:국내산) 호박젓국찌...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 김치찌개 가자미튀김 모둠소세지구이 마늘쫑무...","콩나물밥*양념장 (쌀,현미흑미:국내산) 어묵국 유산슬 (쇠고기:호주산) 아삭고추무...",867.0,560.0,2,5,2,2378.0,0.019223,0.066513,0.134146,0.0,0
2,2016-02-03,3,2601,56,180,111,0.0,모닝롤/베이글 우유/두유/주스 계란후라이 표고버섯죽/쌀밥 (쌀:국내산) 콩나물국...,"카레덮밥 (쌀,현미흑미:국내산) 팽이장국 치킨핑거 (닭고기:국내산) 쫄면야채무침 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 청국장찌개 황태양념구이 (황태:러시아산) 고기...",1017.0,573.0,2,5,3,2365.0,0.021530,0.069204,0.046934,0.0,0
3,2016-02-04,4,2601,104,220,355,0.0,"모닝롤/토마토샌드 우유/두유/주스 계란후라이 닭죽/쌀밥 (쌀,닭:국내산) 근대국...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 쇠고기무국 주꾸미볶음 부추전 시금치나물 ...","미니김밥*겨자장 (쌀,현미흑미:국내산) 우동 멕시칸샐러드 군고구마 무피클 포...",978.0,525.0,2,5,4,2277.0,0.039985,0.084583,0.155907,0.0,0
4,2016-02-05,5,2601,278,181,34,0.0,모닝롤/와플 우유/두유/주스 계란후라이 쇠고기죽/쌀밥 (쌀:국내산) 재첩국 방...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 떡국 돈육씨앗강정 (돼지고기:국내산) 우엉잡채...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 차돌박이찌개 (쇠고기:호주산) 닭갈비 (닭고기:...",925.0,330.0,2,5,5,2142.0,0.106882,0.069589,0.015873,0.0,0

### 요일 레이블 인코딩

In [7]:
weekday_rank4dinner = {
    1: 1,
    2: 2,
    3: 5,
    4: 3,
    5: 4,
}

train['요일(석식)'] = train['요일'].map(weekday_rank4dinner)
test['요일(석식)'] = test['요일'].map(weekday_rank4dinner)

train['요일(중식)'] = train['요일']
test['요일(중식)'] = test['요일']

### 월 레이블 인코딩

In [8]:
month_rank4lunch = {
    1: 3,
    2: 1,
    3: 2,
    4: 6,
    5: 7,
    6: 8,
    7: 10,
    8: 9,
    9: 5,
    10: 4,
    11: 11,
    12: 12
}
train['월(중식)'] = train['월'].map(month_rank4lunch)
test['월(중식)'] = test['월'].map(month_rank4lunch)

In [9]:
month_rank4dinner = {
    1: 11,
    2: 2,
    3: 1,
    4: 4,
    5: 8,
    6: 6,
    7: 9,
    8: 7,
    9: 5,
    10: 3,
    11: 10,
    12: 12
}
train['월(석식)'] = train['월'].map(month_rank4dinner)
test['월(석식)'] = test['월'].map(month_rank4dinner)

## 주 EDA

In [10]:
rank = pd.DataFrame(range(1,53))
week_rank_lunch = pd.pivot_table(train,values='중식계',index='주').sort_values(by='중식계').reset_index().drop('중식계',axis=1)
week_rank_dinner = pd.pivot_table(train,values='석식계',index='주').sort_values(by='석식계').reset_index().drop('석식계',axis=1)


week_rank4lunch = {}
for i in range(len(rank)):
    week_rank4lunch[week_rank_lunch['주'][i]] = rank[0][i]


week_rank4dinner = {}
for i in range(len(rank)):
    week_rank4dinner[week_rank_dinner['주'][i]] = rank[0][i]
    
    
train['주(중식)'] = train['주'].map(week_rank4lunch)
test['주(중식)'] = test['주'].map(week_rank4lunch)

train['주(석식)'] = train['주'].map(week_rank4dinner)
test['주(석식)'] = test['주'].map(week_rank4dinner)

## 공휴일 변수 생성

In [11]:
def is_holiday(date):
    holidays = list(map(str, pd.Series(np.array(SouthKorea().holidays(int(date[:4])))[:, 0])))
    
    yesterday = str(np.datetime64(date) - 1)
    tomorrow = str(np.datetime64(date) + 1)

    if tomorrow in holidays and yesterday in holidays:
        return 'S'
    if tomorrow in holidays:
        return 'T'
    elif yesterday in holidays:
        return 'Y'
    else : 
        return 'N'

def week_of_month(x):
    dt = pendulum.parse(x)
    
    wom = dt.week_of_month
    if wom < 0:
        wom += 52
    return wom
    

df = pd.concat([train[['본사정원수', '일자']], test[['본사정원수', '일자']]])
df['년월'] = df['일자'].apply(lambda x : x[:7])
df = df[['년월', '본사정원수']].groupby(by=['년월'], as_index=False).mean()

def member_change(date):
    this_month = date[:7]
    last_month = str(np.datetime64(this_month) - 1)
    
    this_month_member = int(df[df['년월'] == this_month]['본사정원수'])
    last_month_member = int(df[df['년월'] == last_month]['본사정원수'])
    
    
    return  this_month_member - last_month_member

train['공휴일전후'] = train['일자'].apply(is_holiday)
test['공휴일전후'] = test['일자'].apply(is_holiday)

train['몇주차'] = train['일자'].apply(week_of_month)
test['몇주차'] = test['일자'].apply(week_of_month)

## 텍스트(메뉴) 전처리

### train/test에서 중복 메뉴만 변수로서 사용

In [12]:
menu_train = train[['조식메뉴','중식메뉴','석식메뉴']]
menu_test = test[['조식메뉴','중식메뉴','석식메뉴']]
print(menu_train.shape)
print(menu_test.shape)

(1205, 3)
(50, 3)

In [13]:
def clean_split(df):
    df = df.split()
    for j in df:
        if '(' in j or '쌀밥' in df or '김치' in df:
            del df[df.index(j)]    
            
    return df

In [14]:
def make_list_to_string(menu_list):
    menu_str_list = []
    for menu in menu_list:
        if len(menu) == 0:
            continue

        string = " ".join(menu)

        menu_str_list.append(string)
    return menu_str_list

In [15]:
menu_train['중식메뉴_prepro'] = menu_train['중식메뉴'].apply(clean_split)
menu_train['석식메뉴_prepro'] = menu_train['석식메뉴'].apply(clean_split)

menu_test['중식메뉴_prepro'] = menu_test['중식메뉴'].apply(clean_split)
menu_test['석식메뉴_prepro'] = menu_test['석식메뉴'].apply(clean_split)

lunch_train= menu_train.중식메뉴_prepro.tolist()
lunch_test= menu_test.중식메뉴_prepro.tolist()
dinner_train = menu_train.석식메뉴_prepro.tolist()
dinner_test = menu_test.석식메뉴_prepro.tolist()

lunch_list_train  = make_list_to_string(lunch_train)
lunch_list_test   = make_list_to_string(lunch_test)
dinner_list_train = make_list_to_string(dinner_train)
dinner_list_test  = make_list_to_string(dinner_test)

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()
lunch_matrix_train = vectorizer.fit_transform(lunch_list_train)
lunch_df_train = pd.DataFrame(lunch_matrix_train.toarray(), columns=vectorizer.get_feature_names())

vectorizer = TfidfVectorizer()
dinner_matrix_train = vectorizer.fit_transform(dinner_list_train)
dinner_df_train = pd.DataFrame(dinner_matrix_train.toarray(), columns=vectorizer.get_feature_names())

vectorizer = TfidfVectorizer()
lunch_matrix_test = vectorizer.fit_transform(lunch_list_test)
lunch_df_test = pd.DataFrame(lunch_matrix_test.toarray(), columns=vectorizer.get_feature_names())

vectorizer = TfidfVectorizer()
dinner_matrix_test = vectorizer.fit_transform(dinner_list_test)
dinner_df_test = pd.DataFrame(dinner_matrix_test.toarray(), columns=vectorizer.get_feature_names())

In [17]:
# 중복 메뉴 선정
lunch_intersection = list(set(lunch_df_train.columns) & set(lunch_df_test.columns))
print(len(lunch_intersection))
dinner_intersection = list(set(dinner_df_train.columns) & set(dinner_df_test.columns))
print(len(dinner_intersection))

167
120

## 최종 데이터 셋 구축

In [18]:
train.columns

Index(['일자', '요일', '본사정원수', '본사휴가자수', '본사출장자수', '본사시간외근무명령서승인건수',
       '현본사소속재택근무자수', '조식메뉴', '중식메뉴', '석식메뉴', '중식계', '석식계', '월', '주', '일',
       '출근', '휴가비율', '출장비율', '야근비율', '재택비율', 'day2', '요일(석식)', '요일(중식)',
       '월(중식)', '월(석식)', '주(중식)', '주(석식)', '공휴일전후', '몇주차'],
      dtype='object')

In [19]:
lunch_df_f = pd.concat([train[['공휴일전후', '몇주차', '요일(중식)','월(중식)','일','주(중식)','출근', '휴가비율', '출장비율', '야근비율', '재택비율','본사출장자수','본사휴가자수','중식계']],lunch_df_train[lunch_intersection]],axis=1)
lunch_df_test_f = pd.concat([test[['공휴일전후', '몇주차', '요일(중식)','월(중식)','일','주(중식)','출근', '휴가비율', '출장비율', '야근비율', '재택비율','본사출장자수','본사휴가자수']],lunch_df_test[lunch_intersection]],axis=1)


dinner_df_f = pd.concat([train[['공휴일전후', '몇주차', '요일(석식)','월(석식)','일','주(석식)','출근', '휴가비율', '출장비율', '야근비율', '재택비율','본사출장자수','본사휴가자수','석식계']],dinner_df_train[dinner_intersection]],axis=1)
dinner_df_test_f = pd.concat([test[['공휴일전후', '몇주차', '요일(석식)','월(석식)','일','주(석식)','출근', '휴가비율', '출장비율', '야근비율', '재택비율','본사출장자수','본사휴가자수']],dinner_df_test[dinner_intersection]],axis=1)

In [20]:
print(lunch_df_f.shape)
print(lunch_df_test_f.shape)

(1205, 181)
(50, 180)

In [21]:
print(dinner_df_f.shape)
print(dinner_df_test_f.shape)

(1205, 134)
(50, 133)

## OLS

In [22]:
from statsmodels.api import OLS

In [23]:
lunch_df_f['공휴일전후'] = lunch_df_f['공휴일전후'].apply(lambda x: 1 if x=='Y' else 0)

In [24]:
ols = OLS(lunch_df_f['중식계'],lunch_df_f.drop(['중식계'],axis=1))
result = ols.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                    중식계   R-squared (uncentered):                   0.988
Model:                            OLS   Adj. R-squared (uncentered):              0.986
Method:                 Least Squares   F-statistic:                              495.3
Date:                Thu, 15 Jul 2021   Prob (F-statistic):                        0.00
Time:                        17:53:14   Log-Likelihood:                         -7236.5
No. Observations:                1205   AIC:                                  1.483e+04
Df Residuals:                    1027   BIC:                                  1.574e+04
Df Model:                         178
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
공휴일전후        126.0471     22.143      5.692      0.000      82.596     169.498
몇주차          -24.1624     11.840     -2.041      0.042     -47.395      -0.930
요일(중식)       -70.3582      4.125    -17.057      0.000     -78.452     -62.264
월(중식)         -1.6483      1.304     -1.264      0.207      -4.207       0.911
일              2.4084      1.739      1.385      0.166      -1.003       5.820
주(중식)          1.4214      0.323      4.405      0.000       0.788       2.055
출근             0.5224      0.014     37.018      0.000       0.495       0.550
휴가비율         519.6207    915.053      0.568      0.570   -1275.966    2315.207
출장비율        1.855e+04   1013.355     18.307      0.000    1.66e+04    2.05e+04
야근비율         288.1807     51.102      5.639      0.000     187.905     388.456
재택비율         933.6960    139.914      6.673      0.000     659.146    1208.246
본사출장자수        -7.3881      0.395    -18.693      0.000      -8.164      -6.613
본사휴가자수        -0.1428      0.326     -0.439      0.661      -0.782       0.496
동태매운탕       -271.9208    176.440     -1.541      0.124    -618.146      74.304
맛살계란말이      -122.2165    132.392     -0.923      0.356    -382.005     137.572
깍두기           31.5976     55.631      0.568      0.570     -77.566     140.761
보리밥          147.9986    375.137      0.395      0.693    -588.125     884.122
딸기요거트d       264.5996    372.064      0.711      0.477    -465.494     994.693
파스타샐러드        65.2823     72.639      0.899      0.369     -77.256     207.820
쇠고기숙주볶음      145.6484     86.923      1.676      0.094     -24.918     316.215
육개장          -50.8887     63.005     -0.808      0.419    -174.521      72.744
바나나          167.5376    123.268      1.359      0.174     -74.349     409.424
수수밥          -11.8990    223.278     -0.053      0.958    -450.032     426.234
떡국            74.7110     83.850      0.891      0.373     -89.825     239.247
겉절이김치        145.2916    148.089      0.981      0.327    -145.301     435.884
아삭이고추된장무침   -136.2340    288.399     -0.472      0.637    -702.153     429.685
도토리묵        -201.2777    182.139     -1.105      0.269    -558.684     156.129
해물누룽지탕       -74.7756     65.233     -1.146      0.252    -202.781      53.230
씨앗쌈장        -182.3683    178.603     -1.021      0.307    -532.837     168.101
비름나물         -12.1154     79.166     -0.153      0.878    -167.461     143.230
순대국밥         170.6274    292.072      0.584      0.559    -402.498     743.753
계란후라이         95.8587    327.603      0.293      0.770    -546.989     738.707
양념간장          51.7997    265.910      0.195      0.846    -469.989     573.589
통들깨부추무침      222.9876    401.113      0.556      0.578    -564.107    1010.082
쌈장            48.7281     58.337      0.835      0.404     -65.745     163.201
황태국           46.7062     74.699      0.625      0.532     -99.873     193.285
소스          -154.7437    141.042     -1.097      0.273    -431.507     122.020
순남시래기국      -127.0741    135.893     -0.935      0.350    -393.733     139.585
바베큐폭립       -173.8119    312.226     -0.557      0.578    -786.485     438.862
시금치프리타타       18.5727     58.824      0.316      0.752     -96.856     134.001
감자채전         -44.2680     95.644     -0.463      0.644    -231.948     143.412
아욱국          -51.7859     57.519     -0.900      0.368    -164.653      61.081
목살스테이크        17.7704    123.349      0.144      0.885    -224.275     259.816
수제돈까스        119.9662     80.350      1.493      0.136     -37.703     277.635
매운콩나물무침       76.2527    176.732      0.431      0.666    -270.544     423.049
고등어김치말이찜     818.5584    366.364      2.234      0.026      99.651    1537.466
키위d         -144.2470    225.083     -0.641      0.522    -585.923     297.429
콩나물파채무침      220.5053    118.900      1.855      0.064     -12.809     453.819
부추고추장무침       90.7721    455.133      0.199      0.842    -802.324     983.868
닭개장          -38.4073     85.362     -0.450      0.653    -205.911     129.096
돈육간장불고기      185.5743     85.956      2.159      0.031      16.905     354.244
오리대패불고기     -658.9632    216.600     -3.042      0.002   -1083.991    -233.935
생선까스          32.5161     89.639      0.363      0.717    -143.380     208.412
알타리김치        122.3548     53.816      2.274      0.023      16.752     227.957
취나물무침          1.6952    104.007      0.016      0.987    -202.395     205.785
두부까스         138.5200    337.562      0.410      0.682    -523.870     800.910
팽이장국          34.3300     80.429      0.427      0.670    -123.495     192.155
오곡밥           59.8300    267.340      0.224      0.823    -464.766     584.426
돈육김치찌개       102.6667     68.003      1.510      0.131     -30.774     236.107
귀리밥         -622.6629    231.686     -2.688      0.007   -1077.294    -168.032
방풍나물          57.0078     85.567      0.666      0.505    -110.897     224.913
검정콩밥        -240.4235    208.712     -1.152      0.250    -649.974     169.127
동파육           56.2609     93.309      0.603      0.547    -126.838     239.360
문어꽈리고추조림     432.5471    344.586      1.255      0.210    -243.626    1108.721
석류d           47.3944    189.952      0.250      0.803    -325.344     420.133
흑미밥          194.1743    219.374      0.885      0.376    -236.299     624.648
냉이된장국       -144.8489    197.131     -0.735      0.463    -531.675     241.977
와사비장         252.5475    401.591      0.629      0.530    -535.484    1040.579
쑥갓두부무침       -61.9922     80.385     -0.771      0.441    -219.729      95.745
우렁된장찌개      -456.7174    225.534     -2.025      0.043    -899.277     -14.157
양배추샐러드      -217.0917    285.496     -0.760      0.447    -777.313     343.130
버섯매운탕       -304.4206    156.926     -1.940      0.053    -612.352       3.511
어묵매운탕        483.0137    335.284      1.441      0.150    -174.906    1140.933
그린샐러드        -18.1538    143.623     -0.126      0.899    -299.982     263.674
부추무침          13.4048    132.485      0.101      0.919    -246.567     273.376
수원왕갈비통닭      -75.5302    150.585     -0.502      0.616    -371.019     219.959
완두콩밥        -362.9731    299.730     -1.211      0.226    -951.126     225.180
닭볶음탕        -203.4316     61.988     -3.282      0.001    -325.070     -81.794
유부채소겨자냉채     200.5846    328.611      0.610      0.542    -444.240     845.410
자몽d         -221.9909    252.532     -0.879      0.380    -717.529     273.547
매운돈갈비찜       -55.8522    267.493     -0.209      0.835    -580.748     469.044
차조밥          255.7270    232.720      1.099      0.272    -200.935     712.389
춘천닭갈비         81.1393    176.221      0.460      0.645    -264.656     426.935
골뱅이채소무침     -116.9820    336.378     -0.348      0.728    -777.049     543.085
도라지오이생채       32.8723     82.605      0.398      0.691    -129.221     194.966
발사믹d         136.0329    142.070      0.958      0.339    -142.748     414.814
봄나물비빔밥       -20.0044    124.792     -0.160      0.873    -264.880     224.871
두부양념조림        70.7739     75.147      0.942      0.347     -76.685     218.232
설렁탕         -172.9009    156.760     -1.103      0.270    -480.508     134.706
양상추샐러드       196.9664    148.034      1.331      0.184     -93.518     487.450
유채나물무침       -26.2045    178.839     -0.147      0.884    -377.137     324.728
요거트d         166.5346    114.776      1.451      0.147     -58.687     391.756
초장           -61.9906     83.316     -0.744      0.457    -225.479     101.498
망고d          140.7413    162.048      0.869      0.385    -177.242     458.724
콩가루배추국        29.3403     89.418      0.328      0.743    -146.123     204.804
포기김치         218.9269     88.611      2.471      0.014      45.048     392.805
대파육개장       -353.2347    245.772     -1.437      0.151    -835.508     129.039
갈비탕           42.7833    239.234      0.179      0.858    -426.660     512.226
어묵잡채          -1.6023    341.676     -0.005      0.996    -672.065     668.861
장어강정         -42.1152    129.771     -0.325      0.746    -296.761     212.531
등갈비김치찜        -9.5554     59.304     -0.161      0.872    -125.926     106.815
김치전           -2.8042     77.736     -0.036      0.971    -155.343     149.734
오꼬노미계란말이     105.7315    142.236      0.743      0.457    -173.376     384.839
고등어구이       -170.0462     83.703     -2.032      0.042    -334.295      -5.797
갈치조림           1.2624    105.004      0.012      0.990    -204.784     207.309
치커리무침        -45.3190     77.913     -0.582      0.561    -198.206     107.568
삼색유자청무침      729.1316    308.082      2.367      0.018     124.590    1333.673
소불고기         198.9336     65.681      3.029      0.003      70.049     327.818
건새우호박채전      261.3441    394.371      0.663      0.508    -512.521    1035.210
수박           156.8021    101.649      1.543      0.123     -42.662     356.266
청양부추전       -207.7908    151.585     -1.371      0.171    -505.242      89.660
풋마늘대무침      -107.1940    135.844     -0.789      0.430    -373.758     159.370
브로콜리숙회      -102.1302    241.270     -0.423      0.672    -575.569     371.308
돈갈비찜        -237.6198    386.553     -0.615      0.539    -996.143     520.903
상추무침          72.7568    159.275      0.457      0.648    -239.784     385.298
생강채         -207.7908    151.585     -1.371      0.171    -505.242      89.660
파인d          247.5272    210.772      1.174      0.241    -166.066     661.120
오리주물럭       -422.2424    303.337     -1.392      0.164   -1017.474     172.990
가지나물          29.5465     63.539      0.465      0.642     -95.135     154.228
오이생채        -246.4798    113.512     -2.171      0.030    -469.221     -23.738
시저d         -123.0251    352.494     -0.349      0.727    -814.716     568.665
황태미역국         -8.4607    257.679     -0.033      0.974    -514.098     497.176
매실d          -28.1985    150.629     -0.187      0.852    -323.775     267.378
오리엔탈d         16.5813    146.322      0.113      0.910    -270.543     303.705
호박고추장찌개      220.7530    291.522      0.757      0.449    -351.293     792.799
쫄면채소무침       -75.9057    241.528     -0.314      0.753    -549.851     398.040
석박지          239.3550    118.233      2.024      0.043       7.350     471.360
근대국            7.3974     55.274      0.134      0.894    -101.066     115.861
적어양념장구이     -706.4543    466.890     -1.513      0.131   -1622.621     209.712
오미자d        -227.6545    304.742     -0.747      0.455    -825.643     370.334
쑥국          -208.0827    156.947     -1.326      0.185    -516.057      99.891
참나물겉절이      -190.7725    188.998     -1.009      0.313    -561.638     180.093
짬뽕국         -111.9425    170.952     -0.655      0.513    -447.399     223.513
도라지오이초무침    -139.0185    441.466     -0.315      0.753   -1005.298     727.261
콩나물불고기       284.8724    160.814      1.771      0.077     -30.689     600.433
유부장국        -107.1831     73.396     -1.460      0.145    -251.207      36.841
황도d          242.3315    181.815      1.333      0.183    -114.440     599.103
근대된장국        -16.5401     98.001     -0.169      0.866    -208.845     175.765
흑임자d        -472.7815    208.972     -2.262      0.024    -882.843     -62.720
오리불고기        -35.8616    105.448     -0.340      0.734    -242.779     171.056
딸기d         -197.3319    148.776     -1.326      0.185    -489.271      94.608
쇠고기미역국        95.7343     71.590      1.337      0.181     -44.745     236.214
요구르트          -9.3762     64.471     -0.145      0.884    -135.886     117.134
감자조림        -350.0464    289.688     -1.208      0.227    -918.494     218.401
미역국          131.9899     63.560      2.077      0.038       7.267     256.712
기장밥         -369.2311    210.871     -1.751      0.080    -783.019      44.556
마카로니콘샐러드      73.3524    189.480      0.387      0.699    -298.461     445.165
부럼          -235.6607    294.569     -0.800      0.424    -813.686     342.365
시리얼샐러드      -247.9564    226.256     -1.096      0.273    -691.933     196.020
채소스틱        -356.2580    322.188     -1.106      0.269    -988.480     275.964
김말이강정         12.2599    417.587      0.029      0.977    -807.161     831.680
매콤해물볶음      -161.0877    262.988     -0.613      0.540    -677.143     354.968
사골우거지국      -173.7844    208.561     -0.833      0.405    -583.039     235.471
얼갈이된장국       -43.0006     71.775     -0.599      0.549    -183.842      97.841
참깨d           27.4718    214.282      0.128      0.898    -393.010     447.953
오렌지d        -160.9907    173.683     -0.927      0.354    -501.804     179.823
감귤d          274.7109    299.128      0.918      0.359    -312.260     861.682
팥밥           521.9582    370.838      1.408      0.160    -205.729    1249.646
세발나물무침        90.6932    198.866      0.456      0.648    -299.536     480.922
소갈비찜         -41.2514    137.219     -0.301      0.764    -310.513     228.010
나주곰탕         205.9958    281.926      0.731      0.465    -347.221     759.212
쌀밥          -266.4991    117.649     -2.265      0.024    -497.359     -35.639
탕평채           48.0960     86.472      0.556      0.578    -121.586     217.778
한식잡채        -238.2240    350.353     -0.680      0.497    -925.713     449.265
청경채찜         845.1129    330.473      2.557      0.011     196.633    1493.593
안동찜닭         -90.7055     81.007     -1.120      0.263    -249.664      68.253
열무된장국          8.8090     58.417      0.151      0.880    -105.821     123.439
키위요거트d       175.2146    253.266      0.692      0.489    -321.764     672.193
쌈채소           18.5226    271.890      0.068      0.946    -515.001     552.046
묵은지닭찜       -194.3464    188.434     -1.031      0.303    -564.106     175.414
감자양파국       -120.6947    198.319     -0.609      0.543    -509.851     268.461
북엇국          -38.7796    215.467     -0.180      0.857    -461.585     384.026
콥샐러드          48.3593    150.260      0.322      0.748    -246.492     343.210
사우전d         709.9012    312.362      2.273      0.023      96.961    1322.842
마카로니치즈범벅    -278.2448    294.111     -0.946      0.344    -855.372     298.882
부대찌개         -67.4257     69.593     -0.969      0.333    -203.987      69.135
콩샐러드        -118.8300    487.636     -0.244      0.808   -1075.707     838.047
닭살겨자냉채       -17.8980    136.490     -0.131      0.896    -285.728     249.933
찰현미밥         121.5946    270.796      0.449      0.654    -409.781     652.970
양념장           20.7848     49.694      0.418      0.676     -76.729     118.298
==============================================================================
Omnibus:                       21.723   Durbin-Watson:                   1.697
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               37.075
Skew:                          -0.111   Prob(JB):                     8.90e-09
Kurtosis:                       3.830   Cond. No.                     1.43e+20
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The smallest eigenvalue is 3.34e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [25]:
vari_df = pd.DataFrame(result.pvalues)
vari_df[vari_df[0]<0.1].index

Index(['공휴일전후', '몇주차', '요일(중식)', '주(중식)', '출근', '출장비율', '야근비율', '재택비율',
       '본사출장자수', '쇠고기숙주볶음', '고등어김치말이찜', '콩나물파채무침', '돈육간장불고기', '오리대패불고기',
       '알타리김치', '귀리밥', '우렁된장찌개', '버섯매운탕', '닭볶음탕', '포기김치', '고등어구이', '삼색유자청무침',
       '소불고기', '오이생채', '석박지', '콩나물불고기', '흑임자d', '미역국', '기장밥', '쌀밥', '청경채찜',
       '사우전d'],
      dtype='object')

In [26]:
ols = OLS(lunch_df_f['중식계'],lunch_df_f[['공휴일전후', '몇주차', '요일(중식)', '주(중식)', '출근', '출장비율', '야근비율', '재택비율',
       '본사출장자수', '콩나물불고기', '동태매운탕', '파인d', '쇠고기숙주볶음', '삼색유자청무침', '소불고기', '바나나',
       '황도d', '콩나물파채무침', '버섯매운탕', '돈육간장불고기', '양상추샐러드', '석박지', '수박', '오리대패불고기',
       '오이생채', '흑임자d', '고등어구이', '닭볶음탕', '청경채찜', '우렁된장찌개', '요거트d','휴가비율','월(중식)','일']])
result = ols.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                    중식계   R-squared (uncentered):                   0.987
Model:                            OLS   Adj. R-squared (uncentered):              0.987
Method:                 Least Squares   F-statistic:                              2621.
Date:                Thu, 15 Jul 2021   Prob (F-statistic):                        0.00
Time:                        17:53:15   Log-Likelihood:                         -7308.2
No. Observations:                1205   AIC:                                  1.468e+04
Df Residuals:                    1171   BIC:                                  1.486e+04
Df Model:                          34
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
공휴일전후        116.5849     20.223      5.765      0.000      76.907     156.263
몇주차          -26.6389     10.744     -2.479      0.013     -47.718      -5.560
요일(중식)       -71.5078      3.770    -18.968      0.000     -78.904     -64.111
주(중식)          1.5884      0.297      5.339      0.000       1.005       2.172
출근             0.5313      0.013     42.459      0.000       0.507       0.556
출장비율        1.927e+04    681.810     28.269      0.000    1.79e+04    2.06e+04
야근비율         220.0152     38.759      5.677      0.000     143.971     296.060
재택비율        1073.3216    114.611      9.365      0.000     848.457    1298.187
본사출장자수        -7.7521      0.280    -27.638      0.000      -8.302      -7.202
콩나물불고기       299.8952    139.657      2.147      0.032      25.889     573.902
동태매운탕       -338.5991    153.642     -2.204      0.028    -640.044     -37.154
파인d          208.9824    180.637      1.157      0.248    -145.426     563.391
쇠고기숙주볶음      118.7956     76.396      1.555      0.120     -31.093     268.685
삼색유자청무침      488.9319    210.631      2.321      0.020      75.675     902.189
소불고기         211.5729     60.878      3.475      0.001      92.131     331.015
바나나          221.1655    103.598      2.135      0.033      17.906     424.425
황도d          195.4940    137.450      1.422      0.155     -74.182     465.170
콩나물파채무침      238.9394    115.531      2.068      0.039      12.268     465.610
버섯매운탕       -339.5138    155.522     -2.183      0.029    -644.647     -34.380
돈육간장불고기      148.4678     81.417      1.824      0.068     -11.272     308.208
양상추샐러드       259.1436     72.986      3.551      0.000     115.946     402.341
석박지          143.9949     86.015      1.674      0.094     -24.766     312.755
수박           180.6434     98.840      1.828      0.068     -13.281     374.567
오리대패불고기     -234.9172    139.776     -1.681      0.093    -509.156      39.322
오이생채        -210.6734    100.084     -2.105      0.036    -407.036     -14.310
흑임자d        -406.3212    194.561     -2.088      0.037    -788.049     -24.593
고등어구이       -182.3729     78.079     -2.336      0.020    -335.564     -29.182
닭볶음탕        -197.3561     58.998     -3.345      0.001    -313.110     -81.602
청경채찜         779.4473    278.124      2.803      0.005     233.771    1325.123
우렁된장찌개      -403.5531    182.340     -2.213      0.027    -761.303     -45.803
요거트d         125.3943     88.983      1.409      0.159     -49.189     299.978
휴가비율         103.0875     70.669      1.459      0.145     -35.564     241.739
월(중식)         -0.0226      1.217     -0.019      0.985      -2.411       2.366
일              2.9012      1.586      1.829      0.068      -0.211       6.013
==============================================================================
Omnibus:                       18.662   Durbin-Watson:                   1.649
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               28.922
Skew:                          -0.124   Prob(JB):                     5.24e-07
Kurtosis:                       3.717   Cond. No.                     5.35e+05
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 5.35e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# 중식 예측모델

In [27]:
num_feature = ['요일(중식)', '주(중식)', '출근', '출장비율', '야근비율', '재택비율',
       '본사출장자수', '콩나물불고기', '동태매운탕', '파인d', '쇠고기숙주볶음', '삼색유자청무침', '소불고기', '바나나',
       '황도d', '콩나물파채무침', '버섯매운탕', '돈육간장불고기', '양상추샐러드', '석박지', '수박', '오리대패불고기',
       '오이생채', '흑임자d', '고등어구이', '닭볶음탕', '청경채찜', '우렁된장찌개', '요거트d','휴가비율','중식계']
num_feature.remove('중식계')


lunch_regression_model = setup(data=lunch_df_f[['공휴일전후', '몇주차', '요일(중식)', '주(중식)', '출근', '출장비율', '야근비율', '재택비율',
       '본사출장자수', '콩나물불고기', '동태매운탕', '파인d', '쇠고기숙주볶음', '삼색유자청무침', '소불고기', '바나나',
       '황도d', '콩나물파채무침', '버섯매운탕', '돈육간장불고기', '양상추샐러드', '석박지', '수박', '오리대패불고기',
       '오이생채', '흑임자d', '고등어구이', '닭볶음탕', '청경채찜', '우렁된장찌개', '요거트d','휴가비율','중식계']],
                               target='중식계', train_size=0.8,n_jobs=-1,fold = 8,
                               numeric_features=num_feature,
                              numeric_imputation = 'mean',
                                normalize = True)

In [28]:
# 최고 성능 모델 선정(2개)
lunch_regression_best_models = compare_models(fold=8, n_select=2, exclude=['huber','llar','lar','par','lasso'])

In [29]:
lunch_regression_best_models_tuned = [tune_model(i, optimize='MAE') for i in lunch_regression_best_models]

In [30]:
lunch_model_f = blend_models(estimator_list=lunch_regression_best_models_tuned, fold=5, optimize='MAE')

In [31]:
pred = predict_model(lunch_model_f)

### 테스트 데이터 예측

In [32]:
submission = pd.read_csv('../data/sample_submission.csv')

In [33]:
final_model_lunch = finalize_model(lunch_model_f)
prep_pipe_lunch = get_config('prep_pipe')
prep_pipe_lunch.steps.append(['trained_model', final_model_lunch])

In [34]:
pred_lunch = prep_pipe_lunch.predict(lunch_df_test_f)

submission.iloc[:,1] = pred_lunch
submission.head()

           일자          중식계  석식계
0  2021-01-27  1056.778148    0
1  2021-01-28  1000.250192    0
2  2021-01-29   733.009836    0
3  2021-02-01  1292.013439    0
4  2021-02-02  1095.676583    0

In [ ]:
`

# 석식 예측모델

## OLS

In [35]:
dinner_df_f['공휴일전후'] = dinner_df_f['공휴일전후'].apply(lambda x: 1 if x=='Y' else 0)

In [37]:
num_feature = ['요일(석식)', '월(석식)', '주(석식)', '출근', '출장비율', '야근비율', '재택비율',
       '본사출장자수', '오므라이스','휴가비율','석식계']
num_feature.remove('석식계')

dinner_regression_model = setup(data=dinner_df_f[['몇주차', '요일(석식)', '월(석식)', '주(석식)', '출근', '출장비율', '야근비율', '재택비율',
       '본사출장자수', '오므라이스','휴가비율','석식계','공휴일전후']], target='석식계', train_size=0.8,n_jobs=-1,fold = 8,
                                                              numeric_features=num_feature,
                                numeric_imputation = 'mean',
#                                 categorical_features = ['일'],
                                normalize = True)

In [38]:
dinner_regression_best_models = compare_models(fold=8, n_select=2, exclude=['huber','llar','lar','par','lasso'])

In [39]:
dinner_regression_best_models_tuned = [tune_model(i, optimize='MAE') for i in dinner_regression_best_models]

In [40]:
dinner_model_f = blend_models(estimator_list=dinner_regression_best_models, fold=8, optimize='MAE')

In [41]:
pred = predict_model(dinner_model_f)

## 테스트

### 테스트 데이터 예측

In [42]:
final_model_dinner = finalize_model(dinner_model_f)
prep_pipe_dinner = get_config('prep_pipe')
prep_pipe_dinner.steps.append(['trained_model', final_model_dinner])

In [43]:
pred_dinner = prep_pipe_dinner.predict(dinner_df_test_f)
submission.iloc[:,2] = pred_dinner
submission.head()

           일자          중식계         석식계
0  2021-01-27  1056.778148  390.662756
1  2021-01-28  1000.250192  396.998973
2  2021-01-29   733.009836  243.951067
3  2021-02-01  1292.013439  518.587009
4  2021-02-02  1095.676583  476.253476

# 저장

In [44]:
import datetime
today = str(datetime.datetime.now().date()).replace("-","")
print("오늘 날짜 : " + today)

submission.to_csv(f'../submission/{today}_pycaret_(2).csv', index =False)

오늘 날짜 : 20210715