In [1]:
import pandas as pd

RuntimeError: module compiled against API version 0xe but this version of numpy is 0xd

In [25]:
submission = pd.read_csv('../data/sample_submission.csv')

best_data1 = pd.read_csv('../submission/20210715_lgbm_autoML.csv')
best_data2 = pd.read_csv('../submission/20210716_lgbm_autoML_in.csv')

best_data3= pd.read_csv('../submission/20210701_pycaret_(2)-69.8998.csv')
best_data4= pd.read_csv('../submission/20210715_pycaret_(2).csv')

best_data5= pd.read_csv('../submission/20210717_pycaret_(2).csv')

In [26]:
submission.iloc[:,1:] = (best_data1.iloc[:,1:]*0.4 + best_data2.iloc[:,1:]*0.6)

submission.head()

           일자          중식계         석식계
0  2021-01-27   987.440388  315.235787
1  2021-01-28   924.001336  413.200692
2  2021-01-29   623.654554  201.173574
3  2021-02-01  1285.269203  525.168245
4  2021-02-02  1069.937500  452.460425

In [27]:
abs(best_data1.iloc[:,1:] - best_data5.iloc[:,1:]).mean()

중식계    66.134258
석식계    27.376310
dtype: float64

In [28]:
abs(best_data3.iloc[:,1:] - submission.iloc[:,1:]).mean()

중식계    99.029147
석식계    23.865164
dtype: float64

In [29]:
abs(best_data3.iloc[:,1:] - best_data1.iloc[:,1:]).mean()

중식계    99.641503
석식계    25.344166
dtype: float64

In [30]:
abs(best_data5.iloc[:,1:] - best_data3.iloc[:,1:]).mean()

중식계    40.482167
석식계    12.563572
dtype: float64

In [38]:
submission.iloc[:,1] = (best_data1.iloc[:,1]*1/3 + best_data3.iloc[:,1]*1/3 + best_data5.iloc[:,1]*1/3)
submission.iloc[:,2] = best_data1.iloc[:,2]*1/2 + best_data5.iloc[:,2]*1/2 

submission.head()

           일자          중식계         석식계
0  2021-01-27  1065.436637  339.025500
1  2021-01-28  1015.699511  410.042833
2  2021-01-29   671.618207  222.970263
3  2021-02-01  1283.212812  517.444419
4  2021-02-02  1091.949944  455.125062

In [39]:
import datetime
today = str(datetime.datetime.now().date()).replace("-","")
print("오늘 날짜 : " + today)

submission.to_csv(f'../submission/{today}_best_data_ensemble3.csv', index =False)

오늘 날짜 : 20210717

In [36]:
(best_data1.iloc[:,2]*1/3 + best_data5.iloc[:,2]*1/3 + best_data3.iloc[:,2]*1/3 ).mean()

486.56708443217883

In [37]:
submission.iloc[:,2].mean()

485.38534961687344