In [2]:
import pandas as pd

RuntimeError: module compiled against API version 0xe but this version of numpy is 0xd

In [14]:
submission = pd.read_csv('../data/sample_submission.csv')

best_data1 = pd.read_csv('../submission/20210715_xgb_autoML.csv')
best_data2 = pd.read_csv('../submission/20210716_cat_autoML.csv')

best_data3= pd.read_csv('../submission/20210715_lgbm_autoML.csv')

In [15]:
submission.iloc[:,1:] = (best_data1.iloc[:,1:]*0.4 + best_data2.iloc[:,1:]*0.6)

submission.head()

           일자          중식계         석식계
0  2021-01-27   979.802351  319.874229
1  2021-01-28   930.882109  429.477615
2  2021-01-29   622.858855  220.869989
3  2021-02-01  1267.330858  543.789375
4  2021-02-02  1076.784742  497.811074

In [16]:
(72.9*(3**(1/2)))/2

63.13325193588558

In [17]:
abs(best_data1.iloc[:,1:] - best_data2.iloc[:,1:]).mean()

중식계    25.188838
석식계    21.014639
dtype: float64

In [18]:
abs(best_data3.iloc[:,1:] - submission.iloc[:,1:]).mean()

중식계    18.324716
석식계    20.324814
dtype: float64

In [14]:
import datetime
today = str(datetime.datetime.now().date()).replace("-","")
print("오늘 날짜 : " + today)

submission.to_csv(f'../submission/{today}_best_data_ensemble.csv', index =False)

오늘 날짜 : 20210630