In [2]:
import pandas as pd

RuntimeError: module compiled against API version 0xe but this version of numpy is 0xd

In [11]:
submission = pd.read_csv('../data/sample_submission.csv')

best_data1 = pd.read_csv('../submission/20210715_cat_autoML.csv')
best_data2 = pd.read_csv('../submission/20210715_lgbm_sort_autoML.csv')

best_data3= pd.read_csv('../submission/20210715_lgbm_autoML.csv')

In [12]:
submission.iloc[:,1:] = (best_data1.iloc[:,1:]*0.4 + best_data2.iloc[:,1:]*0.6)

submission.head()

           일자          중식계         석식계
0  2021-01-27   976.026454  316.392095
1  2021-01-28   920.878218  430.168036
2  2021-01-29   622.463316  220.185062
3  2021-02-01  1250.624042  522.549487
4  2021-02-02  1069.131118  474.105418

In [13]:
abs(best_data1.iloc[:,1:] - best_data2.iloc[:,1:]).mean()

중식계    40.479906
석식계    49.318953
dtype: float64

In [15]:
abs(best_data3.iloc[:,1:] - submission.iloc[:,1:]).mean()

중식계    20.261047
석식계    20.002046
dtype: float64

In [14]:
import datetime
today = str(datetime.datetime.now().date()).replace("-","")
print("오늘 날짜 : " + today)

submission.to_csv(f'../submission/{today}_best_data_ensemble.csv', index =False)

오늘 날짜 : 20210630